<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>반려동물 관리 시스템</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container home-container">
      <h1>🐶 반려동물 일정 관리</h1>

      <ul class="main-menu">
        <li>
          <a href="/pet.html">
            <span>🐾</span>
            <span>반려동물 관리</span>
          </a>
        </li>

        <li>
          <a href="/schedule.html">
            <span>📅</span>
            <span>일정 관리</span>
          </a>
        </li>

        <li>
          <a href="/memo.html">
            <span>📝</span>
            <span>메모 관리</span>
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
